---
_options:
  partials:
    - app/static/partials/meta.static.hbs
    - app/static/partials/favicon.static.html
---
<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{> meta}}
    <meta name="msapplication-config" content="none">
    <meta name="mobile-web-app-capable" content="yes">
    <link type="text/plain" rel="author" href="{{urlprefix}}/humans.txt">
    <link rel="stylesheet" href="/app.css">
    {{> favicon}}
  </head>
  <body>
    {{content}}
    <script src="/vendor.js" defer></script>
    <script src="/app.js" defer></script>
  </body>
</html>
