.counter {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;
  justify-content: center;

  & p {
    font-size: 9rem;
    margin-bottom: 0;
  }

  & button {
    font-size: 7rem;
    height: initial;
    line-height: inherit;
    padding: 0 .5em;
  }
}
