.title {
  text-align: center;

  > h1 {
    font-size: 3rem;
    margin-bottom: 0;

    @media (#{$bp-larger-than-phablet}) {
      font-size: 5.8rem;
    }
  }

  > p {
    font-size: 2rem;
  }

  > a {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 5rem;
    margin: 1rem 0;
    width: 5rem;
  }
}

.external {
  padding-left: 0;

  > li {
    display: inline-block;
    font-size: 2rem;
    margin: .5rem;
  }
}

.icon {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1em;
}

.icon-brunch {
  background-image: url('/images/brunch-icon-mark.svg');
}

.icon-github {
  background-image: url('/images/mark-github.svg');
}

.icon-home {
  &::before {
    content: '🏠';
    margin-right: 1rem;
  }
}

.icon-makenew {
  background-image: url('/images/makenew.svg');
}
