.title {
  text-align: center;

  > h1 {
    font-size: 1.4rem;
    margin-bottom: 0;

    @media (#{$bp-larger-than-mobile}) {
      font-size: 1.8rem;
    }

    @media (#{$bp-larger-than-phablet}) {
      font-size: 2.8rem;
    }
  }

  > p {
    font-size: 1.1rem;
  }

  > a {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3rem;
    margin: 1rem 0;
    width: 3rem;

    @media (#{$bp-larger-than-phablet}) {
      height: 4rem;
      width: 4rem;
    }
  }
}

.external {
  padding-left: 0;

  > li {
    display: inline-block;
    margin: .5rem;
  }
}

.icon {
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 1em;
  padding-left: 1em;
}

.icon-brunch {
  background-image: url('DIGEST(/images/brunch-icon-mark.svg)');
}

.icon-github {
  background-image: url('DIGEST(/images/mark-github.svg)');
}

.icon-home {
  &::before {
    content: '🏠';
    margin-right: 1rem;
  }
}

.icon-makenew {
  background-image: url('DIGEST(/images/makenew.svg)');
}
