.l-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-header,
.l-main,
.l-footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.l-main {
  align-items: center;
  flex: 1;
}
