---
_options:
  layout: app/static/layouts/main.static.hbs

meta:
  title: 404 Error
  description: Page not found.
  name: makenew-tasty-brunch
  locale: en_US
  image: /image.png
---
<h1>Page not found</h1>
