---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/external.static.html

meta:
  title: 404 Error
  description: Page not found.
  name: makenew-tasty-brunch
  locale: en_US
---
<header class="l-header">
  <h1>Page not found</h1>
</header>

<main class="l-main">
  <p><a class="icon icon-home" href="/tasty-brunch/">Return home.</a></p>
</main>

<footer class="l-footer">
  {{> external}}
</footer>
