---
_options:
  layout: app/static/layouts/main.static.hbs
  partials:
    - app/static/partials/application.static.hbs
    - app/static/partials/external.static.html

meta:
  canonical: /
  title: Tasty Brunch Demo App
  description: Counter app in Redux and React built with Tasty Brunch.
  name: makenew-tasty-brunch
  locale: en_US
  determiner: ~
  type: ~
  image: ~
  audio: ~
  video: ~
  youtube: ~
  color: '#3F894A'
  keywords:
    - brunch
    - react
    - redux
    - example
    - demo

  twitter:
    card: ~
    site: ~
    creator: ~
---
<header class="l-header title">
  <h1 class="title">Tasty Brunch Demo</h1>
  <a class="icon-brunch"
     title="make new tasty brunch app"
     href="https://github.com/makenew/tasty-brunch"></a>
  <p>counter in redux and react</p>
</header>

<main class="l-main">
  {{> application}}
</main>

<footer class="l-footer">
  {{> external}}
</footer>
