---
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/application.static.hbs

meta:
  canonical: /
  title: Tasty Brunch Demo App.
  description: Simple demo app for Tasty Brunch.
  name: makenew-tasty-brunch
  locale: en_US
  determiner: ~
  type: ~
  image: ~
  audio: ~
  video: ~
  youtube: ~
  color: ~
  keywords:
    - brunch

  twitter:
    card: ~
    site: ~
    creator: ~
---
<header>
  <h1>Tasty Brunch Demo App</h1>
</header>

<main>
  {{> application}}
</main>

<footer>
  <a href="https://github.com/makenew/tasty-brunch">
    Build your own Tasty Brunch app!
  </a>
</footer>
